<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="css/leaflet.css">
        <link rel="stylesheet" href="css/qgis2web.css">
        <style>
        html, body, #map {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
        </style>
        <title></title>
    </head>
    <body>
        <div id="map">
        </div>
        <script src="js/qgis2web_expressions.js"></script>
        <script src="js/leaflet.js"></script>
        <script src="js/leaflet.rotatedMarker.js"></script>
        <script src="js/leaflet.pattern.js"></script>
        <script src="js/leaflet-hash.js"></script>
        <script src="js/Autolinker.min.js"></script>
        <script src="js/rbush.min.js"></script>
        <script src="js/labelgun.min.js"></script>
        <script src="js/labels.js"></script>
        <script src="data/BATASKECAMATANDESEMBER2019DUKCAPIL_0.js"></script>
        <script src="data/kampus_1.js"></script>
        <script src="data/smk_2.js"></script>
        <script src="data/smp_3.js"></script>
        <script>
        var map = L.map('map', {
            zoomControl:true, maxZoom:28, minZoom:1
        }).fitBounds([[-7.07961798895,110.319825856],[-6.94985768715,110.567083012]]);
        var hash = new L.Hash(map);
        map.attributionControl.addAttribution('<a href="https://github.com/tomchadwin/qgis2web" target="_blank">qgis2web</a>');
        var bounds_group = new L.featureGroup([]);
        function setBounds() {
        }
        function pop_BATASKECAMATANDESEMBER2019DUKCAPIL_0(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['KECAMATAN'] !== null ? Autolinker.link(String(feature.properties['KECAMATAN'])) : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
        }

        function style_BATASKECAMATANDESEMBER2019DUKCAPIL_0_0(feature) {
            switch(String(feature.properties['KECAMATAN'])) {
                case 'SEMARANG BARAT':
                    return {
                pane: 'pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0',
                opacity: 1,
                color: 'rgba(0,0,0,0.5)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(255,255,212,0.5)',
            }
                    break;
                case 'SEMARANG SELATAN':
                    return {
                pane: 'pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0',
                opacity: 1,
                color: 'rgba(0,0,0,0.5)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(255,225,156,0.5)',
            }
                    break;
                case 'SEMARANG TENGAH':
                    return {
                pane: 'pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0',
                opacity: 1,
                color: 'rgba(0,0,0,0.5)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(254,179,81,0.5)',
            }
                    break;
                case 'SEMARANG TIMUR':
                    return {
                pane: 'pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0',
                opacity: 1,
                color: 'rgba(0,0,0,0.5)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(240,130,30,0.5)',
            }
                    break;
                case 'SEMARANG UTARA':
                    return {
                pane: 'pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0',
                opacity: 1,
                color: 'rgba(0,0,0,0.5)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(204,86,12,0.5)',
            }
                    break;
                default:
                    return {
                pane: 'pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0',
                opacity: 1,
                color: 'rgba(0,0,0,0.5)',
                dashArray: '',
                lineCap: 'butt',
                lineJoin: 'miter',
                weight: 1.0, 
                fill: true,
                fillOpacity: 1,
                fillColor: 'rgba(153,52,4,0.5)',
            }
                    break;
            }
        }
        map.createPane('pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0');
        map.getPane('pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0').style.zIndex = 400;
        map.getPane('pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0').style['mix-blend-mode'] = 'normal';
        var layer_BATASKECAMATANDESEMBER2019DUKCAPIL_0 = new L.geoJson(json_BATASKECAMATANDESEMBER2019DUKCAPIL_0, {
            attribution: '<a href=""></a>',
            pane: 'pane_BATASKECAMATANDESEMBER2019DUKCAPIL_0',
            onEachFeature: pop_BATASKECAMATANDESEMBER2019DUKCAPIL_0,
            style: style_BATASKECAMATANDESEMBER2019DUKCAPIL_0_0,
        });
        bounds_group.addLayer(layer_BATASKECAMATANDESEMBER2019DUKCAPIL_0);
        map.addLayer(layer_BATASKECAMATANDESEMBER2019DUKCAPIL_0);
        function pop_kampus_1(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['id'] !== null ? Autolinker.link(String(feature.properties['id'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['nama lokas'] !== null ? Autolinker.link(String(feature.properties['nama lokas'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['latitude'] !== null ? Autolinker.link(String(feature.properties['latitude'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['longitude'] !== null ? Autolinker.link(String(feature.properties['longitude'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['alamat'] !== null ? Autolinker.link(String(feature.properties['alamat'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['kontak'] !== null ? Autolinker.link(String(feature.properties['kontak'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['operasiona'] !== null ? Autolinker.link(String(feature.properties['operasiona'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['layanan'] !== null ? Autolinker.link(String(feature.properties['layanan'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['name'] !== null ? '<img src="images/' + String(feature.properties['name']).replace(/[\\\/:]/g, '_').trim() + '">' : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
        }

        function style_kampus_1_0() {
            return {
                pane: 'pane_kampus_1',
        rotationAngle: 0.0,
        rotationOrigin: 'center center',
        icon: L.icon({
            iconUrl: 'markers/red-marker.svg',
            iconSize: [38.0, 38.0]
        }),
            }
        }
        map.createPane('pane_kampus_1');
        map.getPane('pane_kampus_1').style.zIndex = 401;
        map.getPane('pane_kampus_1').style['mix-blend-mode'] = 'normal';
        var layer_kampus_1 = new L.geoJson(json_kampus_1, {
            attribution: '<a href=""></a>',
            pane: 'pane_kampus_1',
            onEachFeature: pop_kampus_1,
            pointToLayer: function (feature, latlng) {
                var context = {
                    feature: feature,
                    variables: {}
                };
                return L.marker(latlng, style_kampus_1_0(feature));
            },
        });
        bounds_group.addLayer(layer_kampus_1);
        map.addLayer(layer_kampus_1);
        function pop_smk_2(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['id'] !== null ? Autolinker.link(String(feature.properties['id'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['nama lokas'] !== null ? Autolinker.link(String(feature.properties['nama lokas'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['latitude'] !== null ? Autolinker.link(String(feature.properties['latitude'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['longitude'] !== null ? Autolinker.link(String(feature.properties['longitude'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['alamat'] !== null ? Autolinker.link(String(feature.properties['alamat'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['kontak'] !== null ? Autolinker.link(String(feature.properties['kontak'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['operasiona'] !== null ? Autolinker.link(String(feature.properties['operasiona'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['layanan'] !== null ? Autolinker.link(String(feature.properties['layanan'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['Name;;;;;;'] !== null ? '<img src="images/' + String(feature.properties['Name;;;;;;']).replace(/[\\\/:]/g, '_').trim() + '">' : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
        }

        function style_smk_2_0() {
            return {
                pane: 'pane_smk_2',
        rotationAngle: 0.0,
        rotationOrigin: 'center center',
        icon: L.icon({
            iconUrl: 'markers/amenity=police.svg',
            iconSize: [38.0, 38.0]
        }),
            }
        }
        map.createPane('pane_smk_2');
        map.getPane('pane_smk_2').style.zIndex = 402;
        map.getPane('pane_smk_2').style['mix-blend-mode'] = 'normal';
        var layer_smk_2 = new L.geoJson(json_smk_2, {
            attribution: '<a href=""></a>',
            pane: 'pane_smk_2',
            onEachFeature: pop_smk_2,
            pointToLayer: function (feature, latlng) {
                var context = {
                    feature: feature,
                    variables: {}
                };
                return L.marker(latlng, style_smk_2_0(feature));
            },
        });
        bounds_group.addLayer(layer_smk_2);
        map.addLayer(layer_smk_2);
        function pop_smp_3(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['id'] !== null ? Autolinker.link(String(feature.properties['id'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['nama lokas'] !== null ? Autolinker.link(String(feature.properties['nama lokas'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['latitude'] !== null ? Autolinker.link(String(feature.properties['latitude'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['longitude'] !== null ? Autolinker.link(String(feature.properties['longitude'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['alamat'] !== null ? Autolinker.link(String(feature.properties['alamat'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['kontak'] !== null ? Autolinker.link(String(feature.properties['kontak'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['operasiona'] !== null ? Autolinker.link(String(feature.properties['operasiona'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['layanan'] !== null ? Autolinker.link(String(feature.properties['layanan'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['Name;;;;;;'] !== null ? '<img src="images/' + String(feature.properties['Name;;;;;;']).replace(/[\\\/:]/g, '_').trim() + '">' : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
        }

        function style_smp_3_0() {
            return {
                pane: 'pane_smp_3',
        rotationAngle: 0.0,
        rotationOrigin: 'center center',
        icon: L.icon({
            iconUrl: 'markers/city_large.svg',
            iconSize: [38.0, 38.0]
        }),
            }
        }
        map.createPane('pane_smp_3');
        map.getPane('pane_smp_3').style.zIndex = 403;
        map.getPane('pane_smp_3').style['mix-blend-mode'] = 'normal';
        var layer_smp_3 = new L.geoJson(json_smp_3, {
            attribution: '<a href=""></a>',
            pane: 'pane_smp_3',
            onEachFeature: pop_smp_3,
            pointToLayer: function (feature, latlng) {
                var context = {
                    feature: feature,
                    variables: {}
                };
                return L.marker(latlng, style_smp_3_0(feature));
            },
        });
        bounds_group.addLayer(layer_smp_3);
        map.addLayer(layer_smp_3);
        setBounds();
        var i = 0;
        layer_BATASKECAMATANDESEMBER2019DUKCAPIL_0.eachLayer(function(layer) {
            var context = {
                feature: layer.feature,
                variables: {}
            };
            layer.bindTooltip((layer.feature.properties['KECAMATAN'] !== null?String('<div style="color: #000000; font-size: 8pt; font-family: \'MS Shell Dlg 2\', sans-serif;">' + layer.feature.properties['KECAMATAN']) + '</div>':''), {permanent: true, offset: [-0, -16], className: 'css_BATASKECAMATANDESEMBER2019DUKCAPIL_0'});
            labels.push(layer);
            totalMarkers += 1;
              layer.added = true;
              addLabel(layer, i);
              i++;
        });
        resetLabels([layer_BATASKECAMATANDESEMBER2019DUKCAPIL_0]);
        map.on("zoomend", function(){
            resetLabels([layer_BATASKECAMATANDESEMBER2019DUKCAPIL_0]);
        });
        map.on("layeradd", function(){
            resetLabels([layer_BATASKECAMATANDESEMBER2019DUKCAPIL_0]);
        });
        map.on("layerremove", function(){
            resetLabels([layer_BATASKECAMATANDESEMBER2019DUKCAPIL_0]);
        });
        </script>
    </body>
</html>
