<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Portofolio</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact</a></li>   
                </ul>
            </nav>
        </div>
        <main class="content">
              <section class="hero">
                  <img src="online.png" alt="">
              <div class="hero-content">
                  <h1>Lokasi Pendidikan di Kota Semarang</h1>
<a href="index.html" class="action-btn">Perguruan tinggi,SMK/SMA,SMP</a>
              </div>
                </section>
        </div>
        </div>
    </div>    
</body>
</html>